.login-form {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-form .form-inner {
  font-family: "Roboto Mono", monospace;
  background: #222;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 7px 7px 20px 10px rgba(0, 0, 0, 0.4);
}

.login-form .form-inner header {
  display: flex;
  align-items: center;
  margin: 1rem;
}

.login-form .form-inner header h2 {
  font-size: 2rem;
  margin: 1rem;
  font-weight: 600;
  color: #eaeaea;
}

.login-form .form-inner header .icon {
  font-size: 2rem;
  margin-left: 1rem;
  color: #eaeaea;
}

.login-form .form-inner .form-group {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.login-form .form-inner .form-group .group-item {
  position: relative;
  display: flex;
  align-items: center;
  margin: 10px 0;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  box-sizing: none;
}

.login-form .form-inner .form-group .group-item i {
  font-size: 1rem;
  margin-right: 1rem;
  color: #eaeaea;
}

.login-form .form-inner .form-group .group-item input {
  padding: 10px;
  background: transparent;
  color: #eaeaea;
  outline: none;
  border: none;
}

.login-form .form-inner .form-group .group-item input:valid ~ span,
.login-form .form-inner .form-group .group-item input:focus ~ span {
  transform: translate(-30%, -90%) scale(0.8);
  transition: 0.3s;
  border-left: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
  background: #222;
  padding: 0 1rem;
}
.login-form .form-inner .form-group .group-item span {
  position: absolute;
  color: #eaeaea;
  margin-left: 3rem;
  font-size: 1.2rem;
  font-weight: 500;
  pointer-events: none;
}

.login-form .form-inner .form-group .group-item .fa-eye,
.login-form .form-inner .form-group .group-item .fa-eye-slash {
  position: absolute;
  right: 0.1rem;
  top: 0.9rem;
}

.login-form .form-inner input[type="submit"] {
  margin: 2.5rem;
  padding: 0.5rem 2rem;
  background: transparent;
  border: 1px solid #eaeaea;
  color: #eaeaea;
  letter-spacing: 1px;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .login-form .form-inner .form-group .group-item input {
    padding: 10px 10rem;
  }
}
