.form-inner {
  font-family: "Roboto Mono", monospace;
  background: #222;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 7px 7px 20px 10px rgba(0, 0, 0, 0.4);
}

.form-inner header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5rem;
}
.form-inner header h2 {
  font-size: 3rem;
  font-weight: 700;
  margin: 2rem;
  color: #fff;
}

.form-inner header i {
  font-size: 2.5rem;
}

.form-inner i {
  color: #9d9d9d;
  margin-right: 1rem;
}
.form-inner .form-group {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 1rem 2rem;
  width: 30rem;
  border: 1px solid #909090;
  border-radius: 4px;
  padding: 0.8rem;
}

.form-inner .form-group span {
  position: absolute;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.2rem;
  margin-left: 2rem;
  background: #222;
  color: #adadad;
  pointer-events: none;
}

.form-inner .form-group input {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: none;
  outline: none;
  background: transparent;
  color: #eaeaea;
  font-size: 1.2rem;
}

.form-inner .form-group input:focus ~ span,
.form-inner .form-group input:valid ~ span {
  transform: translate(-10%, -120%) scale(0.9);
  transition: 0.4s;
  border-right: 1px solid #eaeaea;
  border-left: 1px solid #eaeaea;
  padding: 0 8px;
}

.form-inner input[type="submit"] {
  background: transparent;
  border: 1px solid #eaeaea;
  width: 10rem;
  height: 3rem;
  margin: 2rem;
  border-radius: 30px;
  outline: none;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
}

.form-inner .form-group .fa-eye {
  margin-left: 1rem;
}

.form-inner .form-group .show-password {
  display: flex;
  align-items: center;
}

.form-inner .form-group .show-password i {
  position: absolute;
  right: 2px;
}
